/* VARIAVEIS */
:root {
    --text-color: #ffffff;
    --primary-color: #292727;
    --secondary-color: #383737;
    --accent-color: #525658;
    --background-overlay: rgba(0, 0, 0, 0.2);
    --shadow-color: rgba(0, 0, 0, 0.3);
    --border-radius: 12px;
    --transition: 0.3s ease;
    --image: url('../../assets/img/backgrounds/backgroundDark.jpg');
}

html {
    scroll-behavior: smooth;
}

/* RESET */
* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

/* ESTRUTURA */
body {
    position: relative;
    color: var(--text-color);
    background: var(--primary-color);
}

i {
    color: var(--text-color);
}

p {
    font-size: 1.2rem;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* SEÇÕES */
section {
    padding: 4rem 0;
    text-align: center;
    width: 100%;
}

.title__section {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}


/* CONTAINER GERAL */
.container__flex {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* HEADER */
.header {
    background-color: var(--primary-color);
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header__content {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}


.header__logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: var(--transition);
}

.header__logo-container:hover {
    color: var(--accent-color);
}

.header__logo-sub {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

/* MENU */
.header__nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__links {
    display: flex;
    gap: 2rem;
}


.header__link {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 2rem;
    transition: color var(--transition)
}

.header__link:hover {
    color: var(--accent-color);
}

.header__theme-selector-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__theme-selector {
    display: flex;
    align-items: center;
    background-color: #000000;
    border-radius: 20px;
    height: 30px;
    width: 60px;
    cursor: pointer;
    padding: 3px;
    transition: all var(--transition)
}

.theme-selector__ball {
    border-radius: 50%;
    background-color: #ffffff;
    height: 24px;
    width: 24px;
    margin: 3px;
    transition: transform var(--transition);
}

.header__theme-selector.active .theme-selector__ball {
    transform: translateX(30px);
}

/* MENU MOBILE */
.header__nav--mobile {
    display: none;
}

.header__nav--mobile i {
    font-size: 1.5rem;
    color: var(--text-color);
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    background: var(--primary-color);
    backdrop-filter: blur(10px);
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    display: none;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    z-index: 1000;
}

.mobile-menu.active {
    right: 0;
}

.mobile-menu .header__links {
    list-style: none;
    padding: 0;
}

.mobile-menu .header__link {
    color: var(--text-color);
    font-size: 18px;
    padding: 15px;
    display: block;
    text-align: center;
    transition: 0.3s;
}

.mobile-menu .header__link:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Ícone de fechar menu */
.close-menu {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    color: var(--text-color);
    cursor: pointer;
}

.header__links--mobile {
    display: flex;
    flex-direction: column;
}


/* HOME */
.home {
    background-image: var(--image);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    width: 100%;
    height: 55vh;
    position: relative;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    text-align: center;
}

.home__intro {
    margin-left: 20%;
}

.intro__name {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.home__profile-img {
    position: absolute;
    top: 0;
    left: 60%;
    width: 500px;
    height: 100%;
    object-fit: cover;
}

/* ABOUT */

.about__container {
    font-size: 1.1rem;
    max-width: 1000px;
    margin: 0 auto;
}

/* SKILLS */
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills__container {
    max-width: 80%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.skills__box {
    color: var(--text-color);
    background-color: var(--secondary-color);
    font-size: 3rem;
    width: 5rem;
    aspect-ratio: 1;
    padding: 12px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: #000000 10px 10px 20px 1px;
    cursor: pointer;
    transition: 0.1s;
}

.skills__box img {
    width: 60%;
    height: auto;
}

.skills__box:hover {
    transform: scale(0.98);
    box-shadow: #000000 5px 5px 10px 1px;
}

/* PROJETOS */
.projects__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.project__box {
    background: var(--secundary-color);
    width: 450px;
    border-radius: 12px;
    box-shadow: #000000 10px 10px 10px 1px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.project__box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s ease;
}

.project__box:hover::after {
    opacity: 0;
    display: none;
}

.project__skill-used {
    color: var(--text-color);
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.project__skill-used img {
    margin-top: 8px;
    width: 1.5rem;
    height: auto;
}

.project__box:hover .box__logo {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.project__image {
    width: 100%;
    border-radius: 8px 8px 0 0;
    transition: transform 0.3s ease;
}


.box__logo {
    position: absolute;
    top: 20%;
    left: 31%;
    width: 40%;
    z-index: 1;
    transition: opacity 0.3s ease;
}

.btn {
    background: var(--secundary-color);
    box-shadow: #000000 5px 5px 5px 1px;
    padding: 10px 15px;
    margin: 10px 0px;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background: #005bb5;
    transform: translateY(-2px);
}

/* FORMULÁRIO DE CONTATO */
.container__contact {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.container__contact-text {
    max-width: 30%;
    text-align: left;
}

.text__contact {
    font-size: 1.2rem;
    font-weight: bold;
}

#contact-form {
    background: var(--secondary-color);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
    width: 70%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


#contact-form label {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 15px;
    color: var(--text-color);
    width: 100%;
    text-align: left;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    background: var(--primary-color);
    color: var(--text-color);
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#contact-form input:focus,
#contact-form textarea:focus {
    border-color: var(--text-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    outline: none;
}

#contact-form textarea {
    resize: none;
    height: 120px;
}

#contact-form button {
    background: var(--accent-color);
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 15px;
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

#contact-form button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 10%, transparent 60%);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.4s ease;
}

#contact-form button:hover {
    background: var(--primary-color);
    color: var(--text-color);
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

#contact-form button:hover::before {
    opacity: 1;
}

#response-message {
    margin-top: 5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color);
}

.title__contact {
    text-wrap: nowrap;
    color: var(--text-color);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}





/* FOOTER */
.footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
}

.footer i {
    font-size: 1.1rem;
    color: white;
    margin-bottom: 20px;
}

.footer p {
    font-size: 1rem;
}

.container__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.image__contact {
    align-self: center;
    width: 21rem;
    height: auto;
}

/* RESPONSIVIDADE */
@media (max-width: 1500px) {
    .header__content {
        padding: 0 1rem;
    }

    .header__logo-sub {
        font-size: 1.3rem;
    }

    .header__nav {
        gap: 0.4rem;
    }

    .header__links {
        gap: 0;
    }

    .header__link {
        letter-spacing: 0;
        padding: 1rem;
    }

    .header__theme-selector-container {
        transform: scale(0.8);
    }

    .home {
        background-image: var(--image);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        width: 100%;
        height: 55vh;
        position: relative;
    }


    .banner {
        width: 80%;
    }

    .home__profile-img {
        left: 50%;
    }

    .about__container {
        max-width: 80%;
    }

    .skills__container {
        max-width: 95%;
    }

    .container__contact {
        gap: 1rem;
    }

    .container__contact-text {
        max-width: 40%;
    }

    .title__contact {
        font-size: 2.5rem;
    }

    .text__contact {
        font-size: 1rem;
    }
}

@media (max-width: 1024px) {
    .header__content {
        padding: 0.6rem 1rem;
    }

    .header__nav {
        display: none;
    }


    .header__logo-sub {
        font-size: 1rem;
    }

    .header__nav {
        gap: 0.4rem;
    }

    .header__nav--mobile {
        display: block;
    }

    .header__links--mobile {
        gap: 2rem;
    }

    .header__link {
        letter-spacing: 0;
        padding: 1rem;
    }

    .header__theme-selector-container {
        transform: scale(0.8);
    }

    .mobile-menu {
        display: flex;
    }

    .banner {
        width: 100%;
    }

    .home__profile-img {
        left: 50%;
    }

    .about__container {
        max-width: 80%;
    }

    .skills__container {
        max-width: 95%;
    }

    .container__contact {
        gap: 1rem;
    }

    .container__contact-text {
        max-width: 40%;
    }

    .title__contact {
        font-size: 2.5rem;
    }

    .text__contact {
        font-size: 1rem;
    }
}

@media (max-width: 950px) {
    .home {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 70vh;
        padding: 0;
    }

    .banner {
        flex-direction: column;
        align-items: center;
    }

    .banner img {
        width: 70%;
        height: auto;
    }

    .home__intro {
        margin-left: 0;
    }

    .home__profile-img {
        position: relative;
        left: 0;
        width: 80%;
        max-width: 30rem;
        height: auto;
    }

    .intro__name {
        font-size: 2rem;
    }

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects__container {
        flex-direction: column;
        align-items: center;
        max-width: 90%;
    }


    .project__box {
        max-width: 95%;

    }

    .project__box:after {
        display: none;
    }

    .box__logo {
        display: none;
    }

    .container__contact {
        flex-direction: column;
        align-items: center;
    }

    .image__contact {
        display: none;
    }

    .container__contact-text {
        margin-bottom: 20px;
        text-align: center;
        max-width: 80%;
    }

    #contact-form {
        width: 80%;
        max-width: none;
    }


    #contact-form label {
        margin-top: 10px;
    }

}